@page "/useritems/edit"
@using Microsoft.AspNetCore.Identity
@using Microsoft.EntityFrameworkCore
@using TakeawayTitans.Models
@inject IDbContextFactory<TakeawayTitans.Data.TakeawayTitansContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>User Edit</PageTitle>

<h1>User Edit</h1>

<h2>User</h2>
<hr />
@if (EditUser is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <p>ID: @EditUser.Id</p>
            <p>Email: @EditUser.Email</p>
            <p>CreatedAt: @EditUser.CreatedAt</p>
            <p>Password: @EditUser.Password</p>
            <p>PasswordHash: @EditUser.PasswordHash</p>
            <EditForm method="post" Model="EditUser" OnValidSubmit="UpdateUser" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary role="alert"/>
                <input type="hidden" name="User.Id" value="@EditUser.Id" />
                <input type="hidden" name="User.Email" value="@EditUser.Email" />
                <input type="hidden" name="User.CreatedAt" value="@EditUser.CreatedAt" />
                
                <div class="mb-3">
                    <label for="password" class="form-label">Password:</label>
                    <InputText id="password" @bind-Value="EditUser.Password" type="password" class="form-control" />
                    <ValidationMessage For="() => EditUser.Password" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="firstname" class="form-label">First Name:</label>
                    <InputText id="firstname" @bind-Value="EditUser.FirstName" class="form-control" />
                    <ValidationMessage For="() => EditUser.FirstName" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="lastname" class="form-label">Last Name:</label>
                    <InputText id="lastname" @bind-Value="EditUser.LastName" class="form-control" />
                    <ValidationMessage For="() => EditUser.LastName" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="role" class="form-label">Role:</label>
                    <InputSelect id="role" @bind-Value="EditUser.Role" class="form-select">
                        @foreach (var role in Roles)
                        {
                            <option value="@role">@role</option>
                        }
                    </InputSelect>
                    <ValidationMessage For="() => EditUser.Role" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="imageurl" class="form-label">Image Url:</label>
                    <InputText id="imageurl" @bind-Value="EditUser.ImageUrl" class="form-control" />
                    <ValidationMessage For="() => EditUser.ImageUrl" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/useritems">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    private Guid Id { get; set; }

    [SupplyParameterFromForm]
    private User? EditUser { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        EditUser ??= await context.Users.FirstOrDefaultAsync(user => user.Id == Id);

        if (EditUser is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more information, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task UpdateUser()
    {
        using var context = DbFactory.CreateDbContext();

        if (EditUser is null)
        {
            return;
        }

        if (!string.IsNullOrWhiteSpace(EditUser.Password))
        {
            var passwordHasher = new PasswordHasher<User>();
            EditUser.PasswordHash = passwordHasher.HashPassword(EditUser, EditUser.Password);
        }

        EditUser.Password = string.Empty;
        context.Attach(EditUser).State = EntityState.Modified;

        try
        {
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!UserExists(EditUser!.Id))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/useritems");
    }

    private bool UserExists(Guid id)
    {
        using var context = DbFactory.CreateDbContext();
        return context.Users.Any(e => e.Id == id);
    }
}
